.main-section {
	background-image: url(../assets/img/main-background.png);
	background-repeat: no-repeat;
	background-position: top right;
	min-height: 100vh;

	&__header--before {

	}
	&__header {

	}
	&__header--after {

	}
	&__view-more {

	}
	&__navigation-button {
		display: none;
	}
}