.main-section {
  background-image: url(../assets/img/main-background.jpg);
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 70px 100px 100px 100px;
  color: rgb(221, 221, 221);

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

	&__header--name {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 100px;
    font-weight: 300;
  }
  
	&__header--vocation {
    margin: 0;
    padding: 0;

    font-family: 'Patrick Hand SC', cursive;
    font-size: 70px;
    font-weight: 300;
  }
  
	&__link {
    display: inline-block;
    width: 214px;
    height: 54px;
    color: rgb(221, 221, 221);
    border: 2px solid rgb(221, 221, 221);
    border-radius: 4px;
    margin: 0;
    padding: 15px 50px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
  }
  
	&__navigation-button {
    color: rgb(221, 221, 221);
    font-size: 35px;
    display: block;
    position: absolute;
    top: 50px;
    right:50px;
    background: none;
    border: none;
	}
}