.slider-section {
  background-color: #f6f6f4;

  position: relative;

  &__images {

  }

  &__button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../assets/img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;

    

    &--left {
      left: 50px;
      border: none;
      transform: rotate(180deg)

    }
    
    &--right {
      right: 50px;
      border: none;


    }
  }
}

.slider {

  &__photo {

    &--first {
      width: 100%;
    }
  }
}