@import "_normalize";
@import "_variables";

@import "modules/section-main.scss";


html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: black;
  background: white;
}